USE [master]
GO
/****** Object:  Database [PROF2024]    Script Date: 05.02.2024 16:28:08 ******/
CREATE DATABASE [PROF2024]
GO
USE [PROF2024]
GO
/****** Object:  Table [dbo].[DeseaseHistory]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeseaseHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitDate] [date] NOT NULL,
	[MedcardId] [int] NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[DoctorId] [int] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Birthday] [date] NOT NULL,
	[PassportSeries] [int] NOT NULL,
	[PassportNumber] [int] NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nchar](100) NULL,
	[Photo] [nvarchar](100) NULL,
	[SpecializationId] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalBed]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalBed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](2) NOT NULL,
	[WardId] [int] NOT NULL,
 CONSTRAINT [PK_HospitalBed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospitalization]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitalization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Datetime] [datetime] NULL,
	[HospitalizationReferralId] [int] NOT NULL,
	[RefusalByPatient] [bit] NULL,
	[Cancellation] [bit] NULL,
	[CancellationReason] [nvarchar](1000) NULL,
	[HospitalBedId] [int] NULL,
 CONSTRAINT [PK_Hospitalization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalizationDepartment]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalizationDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_HospitalizationDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalizationReferral]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalizationReferral](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Diagnosis] [nvarchar](1000) NOT NULL,
	[Purpose] [nvarchar](1000) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[Conditions] [bit] NOT NULL,
 CONSTRAINT [PK_HospitalizationReferral] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medcard]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medcard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[Diagnosis] [nvarchar](1000) NULL,
	[LastVisitDate] [date] NOT NULL,
	[NextVisitDate] [date] NULL,
	[QR] [nvarchar](100) NULL,
 CONSTRAINT [PK_Medcard] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Birthday] [date] NOT NULL,
	[PassportSeries] [int] NOT NULL,
	[PassportNumber] [int] NOT NULL,
	[Gender] [nvarchar](3) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nchar](100) NULL,
	[MedcardId] [int] NOT NULL,
	[PolicyNumber] [nvarchar](16) NOT NULL,
	[PolicyExpirationDate] [date] NOT NULL,
	[InsuranceCompany] [nvarchar](100) NOT NULL,
	[WorkPlace] [nvarchar](1000) NOT NULL,
	[Photo] [nvarchar](100) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeseaseHistoryId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Dosage] [nvarchar](100) NULL,
	[UsingFormat] [nvarchar](100) NULL,
 CONSTRAINT [PK_Recept] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referral]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referral](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[DeseaseHistoryId] [int] NOT NULL,
 CONSTRAINT [PK_Referral] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[AccessLevel] [int] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreatmentEvent]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreatmentEvent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Results] [nvarchar](max) NOT NULL,
	[Recommendations] [nvarchar](1000) NOT NULL,
	[PatientId] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_TreatmentEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 05.02.2024 16:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](10) NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_Таблица1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Surname], [Name], [Patronymic], [Birthday], [PassportSeries], [PassportNumber], [Gender], [Address], [Phone], [Email], [Photo], [SpecializationId]) VALUES (1, N'Strickland', N'Aline', N'Lacey', CAST(N'2000-07-14' AS Date), 2203, 200901, N'F', N'P.O. Box 174, 2985 Suscipit Rd.', N'1-736-274-2523', N'aliquam.adipiscing@yahoo.couk                                                                       ', N'1.jpg', 1)
INSERT [dbo].[Employee] ([Id], [Surname], [Name], [Patronymic], [Birthday], [PassportSeries], [PassportNumber], [Gender], [Address], [Phone], [Email], [Photo], [SpecializationId]) VALUES (2, N'Spears', N'Lee', N'Garrett', CAST(N'1971-10-27' AS Date), 3075, 872273, N'F', N'370 Et St.', N'1-485-623-4707', N'proin.vel@hotmail.com                                                                               ', N'2.jpg', 2)
INSERT [dbo].[Employee] ([Id], [Surname], [Name], [Patronymic], [Birthday], [PassportSeries], [PassportNumber], [Gender], [Address], [Phone], [Email], [Photo], [SpecializationId]) VALUES (3, N'Pace', N'Cameran', N'Piper', CAST(N'2011-11-12' AS Date), 5445, 841550, N'F', N'2166 Cursus Avenue', N'1-365-857-4837', N'justo.faucibus@outlook.net                                                                          ', N'3.jpg', 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([Id], [Title]) VALUES (1, N'лабораторное исследование')
INSERT [dbo].[EventType] ([Id], [Title]) VALUES (2, N'инструментальная диагностика')
INSERT [dbo].[EventType] ([Id], [Title]) VALUES (3, N'лекарственная терапия')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
SET IDENTITY_INSERT [dbo].[HospitalBed] ON 

INSERT [dbo].[HospitalBed] ([Id], [Title], [WardId]) VALUES (1, N'А', 1)
INSERT [dbo].[HospitalBed] ([Id], [Title], [WardId]) VALUES (2, N'Б', 1)
INSERT [dbo].[HospitalBed] ([Id], [Title], [WardId]) VALUES (3, N'В', 1)
SET IDENTITY_INSERT [dbo].[HospitalBed] OFF
GO
SET IDENTITY_INSERT [dbo].[Hospitalization] ON 

INSERT [dbo].[Hospitalization] ([Id], [Datetime], [HospitalizationReferralId], [RefusalByPatient], [Cancellation], [CancellationReason], [HospitalBedId]) VALUES (1, CAST(N'2023-12-09T22:36:00.000' AS DateTime), 1, 0, 0, N'', 1)
INSERT [dbo].[Hospitalization] ([Id], [Datetime], [HospitalizationReferralId], [RefusalByPatient], [Cancellation], [CancellationReason], [HospitalBedId]) VALUES (2, CAST(N'2023-03-16T19:17:00.000' AS DateTime), 2, 0, 0, N'', 2)
INSERT [dbo].[Hospitalization] ([Id], [Datetime], [HospitalizationReferralId], [RefusalByPatient], [Cancellation], [CancellationReason], [HospitalBedId]) VALUES (3, CAST(N'2025-01-08T08:00:00.000' AS DateTime), 3, 0, 0, N'', 3)
GO
SET IDENTITY_INSERT [dbo].[Hospitalization] OFF
GO
SET IDENTITY_INSERT [dbo].[HospitalizationDepartment] ON 

INSERT [dbo].[HospitalizationDepartment] ([Id], [Title]) VALUES (1, N'Приемное отделение')
INSERT [dbo].[HospitalizationDepartment] ([Id], [Title]) VALUES (2, N'Кардиологическое отделение')
INSERT [dbo].[HospitalizationDepartment] ([Id], [Title]) VALUES (3, N'Хирургическое №1 (гнойное)')
SET IDENTITY_INSERT [dbo].[HospitalizationDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[HospitalizationReferral] ON 

INSERT [dbo].[HospitalizationReferral] ([Id], [PatientId], [Diagnosis], [Purpose], [DepartmentId], [Conditions]) VALUES (1, 1, N'Болит сердце', N'Обследование', 2, 0)
INSERT [dbo].[HospitalizationReferral] ([Id], [PatientId], [Diagnosis], [Purpose], [DepartmentId], [Conditions]) VALUES (2, 2, N'Шишка на руке', N'Операция', 3, 1)
INSERT [dbo].[HospitalizationReferral] ([Id], [PatientId], [Diagnosis], [Purpose], [DepartmentId], [Conditions]) VALUES (3, 3, N'Аппендицит', N'Операция', 4, 0)
GO
SET IDENTITY_INSERT [dbo].[HospitalizationReferral] OFF
GO
SET IDENTITY_INSERT [dbo].[Medcard] ON 

INSERT [dbo].[Medcard] ([Id], [IssueDate], [Diagnosis], [LastVisitDate], [NextVisitDate], [QR]) VALUES (1001, CAST(N'2023-02-28' AS Date), N'', CAST(N'2023-02-28' AS Date), NULL, N'QRcard1001.jpg')
INSERT [dbo].[Medcard] ([Id], [IssueDate], [Diagnosis], [LastVisitDate], [NextVisitDate], [QR]) VALUES (1002, CAST(N'2022-10-02' AS Date), N'', CAST(N'2022-10-02' AS Date), NULL, N'QRcard1002.jpg')
INSERT [dbo].[Medcard] ([Id], [IssueDate], [Diagnosis], [LastVisitDate], [NextVisitDate], [QR]) VALUES (1003, CAST(N'2023-01-11' AS Date), N'', CAST(N'2023-01-11' AS Date), NULL, N'QRcard1003.jpg')
GO
SET IDENTITY_INSERT [dbo].[Medcard] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Id], [Surname], [Name], [Patronymic], [Birthday], [PassportSeries], [PassportNumber], [Gender], [Address], [Phone], [Email], [MedcardId], [PolicyNumber], [PolicyExpirationDate], [InsuranceCompany], [WorkPlace], [Photo]) VALUES (2, N'Woodard', N'Wendy', N'Kathleen', CAST(N'2000-06-16' AS Date), 1208, 725761, N'F', N'Ap #578-3613 Purus. Ave', N'1-686-781-5281', N'elit@aol.net                                                                                        ', 1002, N'475159839881889', CAST(N'2023-05-23' AS Date), N'Sed Pede LLP', N'Mattis Ornare Corp.', N'2.jpg')
GO
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
INSERT [dbo].[Role] ([Id], [Title], [AccessLevel]) VALUES (1, N'администратор', 1)
INSERT [dbo].[Role] ([Id], [Title], [AccessLevel]) VALUES (2, N'сотрудник регистратуры', 2)
INSERT [dbo].[Role] ([Id], [Title], [AccessLevel]) VALUES (3, N'специалист основных подразделений', 3)
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([Id], [Title]) VALUES (1, N'Терапевт')
INSERT [dbo].[Specialization] ([Id], [Title]) VALUES (2, N'Педиатр')
INSERT [dbo].[Specialization] ([Id], [Title]) VALUES (3, N'Офтальмолог')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
SET IDENTITY_INSERT [dbo].[TreatmentEvent] ON 

INSERT [dbo].[TreatmentEvent] ([Id], [DateTime], [DoctorId], [EventTypeId], [Title], [Results], [Recommendations], [PatientId], [Price]) VALUES (1, CAST(N'2023-12-09T22:36:00.000' AS DateTime), 11, 2, N'УЗИ Сердца', N'Обнаружено', N'Консультация терапевта', 1, 1700)
INSERT [dbo].[TreatmentEvent] ([Id], [DateTime], [DoctorId], [EventTypeId], [Title], [Results], [Recommendations], [PatientId], [Price]) VALUES (2, CAST(N'2023-03-16T19:17:00.000' AS DateTime), 11, 2, N'УЗИ Печени', N'Не обнаружено', N'Консультация терапевта', 2, 1500)
INSERT [dbo].[TreatmentEvent] ([Id], [DateTime], [DoctorId], [EventTypeId], [Title], [Results], [Recommendations], [PatientId], [Price]) VALUES (3, CAST(N'2025-01-08T08:00:00.000' AS DateTime), 11, 2, N'УЗИ Почек', N'Обнаружено', N'Консультация терапевта', 3, 1300)
SET IDENTITY_INSERT [dbo].[TreatmentEvent] OFF
GO
INSERT [dbo].[User] ([Id], [Password], [RoleId]) VALUES (1, N'00KG', 3)
INSERT [dbo].[User] ([Id], [Password], [RoleId]) VALUES (2, N'KGIF', 3)
INSERT [dbo].[User] ([Id], [Password], [RoleId]) VALUES (3, N'PXGL', 3)
GO
SET IDENTITY_INSERT [dbo].[Ward] ON 

INSERT [dbo].[Ward] ([Id], [Title], [DepartmentId]) VALUES (1, N'101', 2)
INSERT [dbo].[Ward] ([Id], [Title], [DepartmentId]) VALUES (2, N'102', 2)
INSERT [dbo].[Ward] ([Id], [Title], [DepartmentId]) VALUES (3, N'103', 2)
SET IDENTITY_INSERT [dbo].[Ward] OFF
GO
/****** Object:  Index [IX_Hospitalization]    Script Date: 05.02.2024 16:28:08 ******/
ALTER TABLE [dbo].[Hospitalization] ADD  CONSTRAINT [IX_Hospitalization] UNIQUE NONCLUSTERED 
(
	[HospitalizationReferralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient]    Script Date: 05.02.2024 16:28:08 ******/
ALTER TABLE [dbo].[Patient] ADD  CONSTRAINT [IX_Patient] UNIQUE NONCLUSTERED 
(
	[MedcardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeseaseHistory]  WITH CHECK ADD  CONSTRAINT [FK_DeseaseHistory_Employee] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[DeseaseHistory] CHECK CONSTRAINT [FK_DeseaseHistory_Employee]
GO
ALTER TABLE [dbo].[DeseaseHistory]  WITH CHECK ADD  CONSTRAINT [FK_DeseaseHistory_Medcard] FOREIGN KEY([MedcardId])
REFERENCES [dbo].[Medcard] ([Id])
GO
ALTER TABLE [dbo].[DeseaseHistory] CHECK CONSTRAINT [FK_DeseaseHistory_Medcard]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Specialization] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specialization] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Specialization]
GO
ALTER TABLE [dbo].[HospitalBed]  WITH CHECK ADD  CONSTRAINT [FK_HospitalBed_Ward] FOREIGN KEY([WardId])
REFERENCES [dbo].[Ward] ([Id])
GO
ALTER TABLE [dbo].[HospitalBed] CHECK CONSTRAINT [FK_HospitalBed_Ward]
GO
ALTER TABLE [dbo].[Hospitalization]  WITH CHECK ADD  CONSTRAINT [FK_Hospitalization_HospitalBed] FOREIGN KEY([HospitalBedId])
REFERENCES [dbo].[HospitalBed] ([Id])
GO
ALTER TABLE [dbo].[Hospitalization] CHECK CONSTRAINT [FK_Hospitalization_HospitalBed]
GO
ALTER TABLE [dbo].[Hospitalization]  WITH CHECK ADD  CONSTRAINT [FK_Hospitalization_HospitalizationReferral] FOREIGN KEY([HospitalizationReferralId])
REFERENCES [dbo].[HospitalizationReferral] ([Id])
GO
ALTER TABLE [dbo].[Hospitalization] CHECK CONSTRAINT [FK_Hospitalization_HospitalizationReferral]
GO
ALTER TABLE [dbo].[HospitalizationReferral]  WITH CHECK ADD  CONSTRAINT [FK_HospitalizationReferral_HospitalizationDepartment] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[HospitalizationDepartment] ([Id])
GO
ALTER TABLE [dbo].[HospitalizationReferral] CHECK CONSTRAINT [FK_HospitalizationReferral_HospitalizationDepartment]
GO
ALTER TABLE [dbo].[HospitalizationReferral]  WITH CHECK ADD  CONSTRAINT [FK_HospitalizationReferral_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[HospitalizationReferral] CHECK CONSTRAINT [FK_HospitalizationReferral_Patient]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Medcard1] FOREIGN KEY([MedcardId])
REFERENCES [dbo].[Medcard] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Medcard1]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_DeseaseHistory] FOREIGN KEY([DeseaseHistoryId])
REFERENCES [dbo].[DeseaseHistory] ([Id])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_DeseaseHistory]
GO
ALTER TABLE [dbo].[Referral]  WITH CHECK ADD  CONSTRAINT [FK_Referral_DeseaseHistory] FOREIGN KEY([DeseaseHistoryId])
REFERENCES [dbo].[DeseaseHistory] ([Id])
GO
ALTER TABLE [dbo].[Referral] CHECK CONSTRAINT [FK_Referral_DeseaseHistory]
GO
ALTER TABLE [dbo].[Referral]  WITH CHECK ADD  CONSTRAINT [FK_Referral_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([Id])
GO
ALTER TABLE [dbo].[Referral] CHECK CONSTRAINT [FK_Referral_EventType]
GO
ALTER TABLE [dbo].[TreatmentEvent]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentEvents_Employee] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[TreatmentEvent] CHECK CONSTRAINT [FK_TreatmentEvents_Employee]
GO
ALTER TABLE [dbo].[TreatmentEvent]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentEvents_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([Id])
GO
ALTER TABLE [dbo].[TreatmentEvent] CHECK CONSTRAINT [FK_TreatmentEvents_EventType]
GO
ALTER TABLE [dbo].[TreatmentEvent]  WITH CHECK ADD  CONSTRAINT [FK_TreatmentEvents_Patient] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[TreatmentEvent] CHECK CONSTRAINT [FK_TreatmentEvents_Patient]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employee] FOREIGN KEY([Id])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Users_Employee]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Ward]  WITH CHECK ADD  CONSTRAINT [FK_Ward_HospitalizationDepartment] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[HospitalizationDepartment] ([Id])
GO
ALTER TABLE [dbo].[Ward] CHECK CONSTRAINT [FK_Ward_HospitalizationDepartment]
GO
USE [master]
GO
